{% load static %}
  <link rel="stylesheet" href="{% static 'layout/styles/base.css'%}" type="text/css" />
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <div id="home">
        <div id="header">
          <nav>
            <div id="naw">
              <table width=726>
                <tr height=50 align="left">
                  <td id='button'><a id='a_nav' href=''>ANA SAYFA</a></td>
                  <td id='button'><a id='a_nav' href=''>HİZMETLERİMİZ</a></td>
                  <td id='button'><a id='a_nav' href=''>MAKALELER</a></td>
                  <td id='button'><a id='a_nav' href=''>HASAN UMUR KİMDİR</a></td>
                  <td id='button'><a id='a_nav' href=''>İLETİŞİM</a></td>
                </tr>
              </table>
            </div>
            <div id="logo_str">
              <table width=380>
                <tr height=29 align="left">
                  <td><a id='a_nav1white' href=''><h3>Stratejik</h3></a></td>
                  <td><a id='a_nav1blue' href=''><h2>Yönetim Danışmanı</h2></a></td>
                <tr height="24">
                  <td colspan="2"><a id="hasan" href=''><h3><marquee  scrollamount="1" scrolldelay="60" loop="99999" onmouseout="this.start()" onmouseover="this.stop()">Hasan UMUR</marquee></h3></a></td>
                </tr>
              </table>
            </div>
            <div id="logo"><a href=''><img src="../static/layout/styles/logo.jpg"></a></div>
          </nav>
        </div>
        <div id="outer">
          <div id="imagediv"><img src="../static/layout/styles/sitebanner.PNG" width=940 height=400></div>
          <div id="baslıkdiv">
            <img src="../static/layout/styles/makalelerimiz.PNG" width=305>
            <img id="hizmetlerimiz" src="../static/layout/styles/hizmetlerimiz.PNG" width=305 height=59.05>
          </div>
          <div id="iletisim">
            <div style="margin-left: 24px; margin-top: 16px; height:224px; width:250px; position: absolute;">
              <h5 style="line-height:1.2em;">Bize Ulaşın</h5>
              <p style="color: #545658; line-height:0.5em;">&nbsp</p>
              <h5 style="line-height:1.2em;"><span style="line-height:1.3em; font-family:tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif; font-size:11px; color:#C5C3C3;">DEĞİŞİMDE YARDIM İÇİN BURADAYIZ</span></h5>
              <h5 style="line-height:1.2em;"><span style="line-height:1.3em; font-family:tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif; font-size:11px; color:#C5C3C3;">BİRLİKTE GELECEĞİ ŞEKİLLENDİRECEĞİZ.</span></h5>
              <p style="color: #545658; line-height:0.8em;">&nbsp</p>
              <h5 style="line-height:1.2em;"><span style="line-height:1.3em; font-family:tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif; font-size:13px; color:#C5C3C3;">TEL:</span></h5>
              <h5 style="line-height:1.2em; font-size:20px;">+90-0533-461-7470</h5>
              <p style="color: #545658; line-height:0.8em;">&nbsp</p>
              <h5 style="line-height:1.2em;"><span style="line-height:1.3em; font-family:tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif; font-size:13px; color:#C5C3C3;">MAIL:</span></h5>
              <h5 style="line-height:1.2em; font-size:15px;">umur.hasan@hotmail.com</h5>
              <p style="color: #545658; line-height:0.8em;">&nbsp</p>
              <h5 style="line-height:1.2em;"><span style="line-height:1.3em; font-family:tahoma, tahoma-w01-regular, tahoma-w02-regular, tahoma-w10-regular, tahoma-w15--regular, tahoma-w99-regular, sans-serif; font-size:13px; color:#C5C3C3;">BİZİ TAKİP EDİN:</span></h5>
            </div>
            <div style="margin-left: 24px; margin-top: 250px; width :100px; height: 30px; position: absolute;">
                <a href=""><img src="../static/layout/styles/linkedin.png"></a>
            </div>
          </div>
          <div style="top: 517px; left: 86px; width: 270px; height: auto; position: absolute;">
            <p style="color: #545658; font: normal normal normal 12px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Bu bir paragraftır. Kolayca düzenlemek ve metin eklemek için tıklayın. Metin Düzenleye yada buraya çift tıklayarak içerik ekleyip, yazı tipini değiştirebilirsiniz.</p>
            <p style="color: #545658; line-height:0.8em;">&nbsp</p>
            <p style="color: #545658; font: normal normal normal 12px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Hikayenizi anlatıp kullanıcılarınıza kendiniz hakkında daha fazla bilgi verebilirsiniz. Bu yazıyı silmek için üzerine tıklayıp silin.</p>
            <div id="button1">DEVAMI...</div>
          </div>
          <div style="top: 517px; left: 403px; width: 270px; height: auto; position: absolute;">
            <p id="hizmetlerimizbaslık">Strateji & Organizasyonu</p>
            <p style="color: #FFFFFF; line-height:0.5em;">&nbsp</p>
            <p id="hizmetlerimizbaslık">Kurumsal Gelişme</p>
            <p style="color: #FFFFFF; line-height:0.5em;">&nbsp</p>
            <p id="hizmetlerimizbaslık">Küreselleşme</p>
            <p style="color: #FFFFFF; line-height:0.5em;">&nbsp</p>
            <p id="hizmetlerimizbaslık">Operasyon Yönetimi</p>
            <p style="color: #FFFFFF; line-height:0.5em;">&nbsp</p>
            <p id="hizmetlerimizbaslık">Kurumsal Finans</p>
            <p style="color: #FFFFFF; line-height:0.5em;">&nbsp</p>
            <p id="hizmetlerimizbaslık">IT Yönetimi</p>
            <p style="color: #FFFFFF; line-height:0.5em;">&nbsp</p>
            <p id="hizmetlerimizbaslık">Sürdürülebilirlik</p>
            <div id="button1">DEVAMI...</div>
          </div>
          <div id="baslıkdiv1">
            <img src="../static/layout/styles/haberlerveyayınlar.PNG" width=623 height=59.05>
            <img id="hizmetlerimiz" src="../static/layout/styles/hasanumurkimdir.PNG" width=305 height=59.05>
          </div>
          <div style="top: 838px; left: 719px; width: 270px; height: auto; position: absolute;">
            <p style="color: #545658; font: normal normal normal 12px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Bu bir paragraftır. Kolayca düzenlemek ve metin eklemek için tıklayın. Metin Düzenleye yada buraya çift tıklayarak içerik ekleyip, yazı tipini değiştirebilirsiniz.</p>
            <p style="color: #545658; line-height:0.8em;">&nbsp</p>
            <p style="color: #545658; font: normal normal normal 12px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Hikayenizi anlatıp kullanıcılarınıza kendiniz hakkında daha fazla bilgi verebilirsiniz. Bu yazıyı silmek için üzerine tıklayıp silin.</p>
            <div id="button1">DEVAMI...</div>
          </div>
          <div style="top: 838px; left: 261px; width: 415px; height: auto; position: absolute;">
            <p style="color: #545658; font: normal normal normal 11px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">25-10-2023</p>
            <p style="color: #545658; font: normal normal normal 12px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">&nbsp</p>
            <p style="color: #545658; font: normal normal normal 12px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Bu bir paragraftır. Kolayca düzenlemek ve metin eklemek için tıklayın. Metin Düzenleye yada buraya çift tıklayarak içerik ekleyip, yazı tipini değiştirebilirsiniz.</p>
            <p style="color: #545658; font: normal normal normal 12px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Hikayenizi anlatıp kullanıcılarınıza kendiniz hakkında daha fazla bilgi verebilirsiniz. Bu yazıyı silmek için üzerine tıklayıp silin.</p>
            <div id="button2">DEVAMI...</div>
          </div>
          <div style="top: 1010px; left: 261px; width: 415px; height: auto; position: absolute;">
            <p style="color: #545658; font: normal normal normal 11px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">25-10-2023</p>
            <p style="color: #545658; font: normal normal normal 12px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">&nbsp</p>
            <p style="color: #545658; font: normal normal normal 12px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Bu bir paragraftır. Kolayca düzenlemek ve metin eklemek için tıklayın. Metin Düzenleye yada buraya çift tıklayarak içerik ekleyip, yazı tipini değiştirebilirsiniz.</p>
            <p style="color: #545658; font: normal normal normal 12px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">Hikayenizi anlatıp kullanıcılarınıza kendiniz hakkında daha fazla bilgi verebilirsiniz. Bu yazıyı silmek için üzerine tıklayıp silin.</p>
            <div id="button2">DEVAMI...</div>
          </div>
        </div>
        <div id="footer">
          <div id="footerin">
            <p style="position:absolute; left:172px; top:25px; color: #FFFFFF; font: normal normal normal 11px/1.3em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif;">© 2018 Stratejik Yönetim Danışmanlığı sitesi. Ömer UMUR tarafından yapılmıştır. </p>
          </div>
        </div>
    </div>
  </body>
</html>
